<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="TDGotchi"
            id="com.happyprog.tdgotchi">
      </category>
      <view
            name="TdGotchi"
            icon="icons/Beginner-happy1.png"
            category="com.happyprog.tdgotchi"
            class="com.happyprog.tdgotchi.views.MainView"
            id="com.happyprog.tdgotchi.views.MainView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.happyprog.tdgotchi.views.MainView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
